<%- include("header") %>
<div class="ques-container">
    <h2 id="ques-heading">Questions related to <%= topic %></h2>
    <div class="outer-box">
        <div class="ques-box">
            <p class="question"><%= ques1 %></p>
            <div class="options">
                <div class="two-option">
                    <button type="button" class="optionNumber" value="a"><%= option1 %></button>
                    <button type="button" class="optionNumber" value="b"><%= option2 %></button>
                </div>
                <div class="two-option">
                    <button type="button" class="optionNumber" value="c"><%= option3 %></button>
                    <button type="button" class="optionNumber" value="d"><%= option4 %></button>
                </div>
            </div>
        </div>
        <div class="ques-box">
            <p class="question"><%= ques2 %></p>
            <div class="options">
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="a"><%= option5 %></button>
                    <button type="submit" class="optionNumber" value="b"><%= option6 %></button>
                </div>
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="c"><%= option7 %></button>
                    <button type="submit" class="optionNumber" value="d"><%= option8 %></button>
                </div>
            </div>
        </div>
        <div class="ques-box">
            <p class="question"><%= ques3 %></p>
            <div class="options">
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="a"><%= option9 %></button>
                    <button type="submit" class="optionNumber" value="b"><%= option10%></button>
                </div>
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="c"><%= option11 %></button>
                    <button type="submit" class="optionNumber" value="d"><%= option12 %></button>
                </div>
            </div>
        </div>
        <div class="ques-box">
            <p class="question"><%= ques4 %></p>
            <div class="options">
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="a" name="btn"><%= option13 %></button>
                    <button type="submit" class="optionNumber" value="b"><%= option14 %></button>
                </div>
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="c"><%= option15 %></button>
                    <button type="submit" class="optionNumber" value="d"><%= option16 %></button>
                </div>
            </div>
        </div>
        <div class="ques-box">
            <p class="question"><%= ques5 %></p>
            <div class="options">
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="a"><%= option17 %></button>
                    <button type="submit" class="optionNumber" value="b"><%= option18 %></button>
                </div>
                <div class="two-option">
                    <button type="submit" class="optionNumber" value="c"><%= option19 %></button>
                    <button type="submit" class="optionNumber" value="d"><%= option20 %></button>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("footer") %>

<!-- <script src="../scripts/ques.mjs"></script> -->
